<div id="brief">Looking For Job !</div>
<div>
   <div class="block">
      <div><img class="arrow" src="{{APP_URL}}global/img/new.jpg" /></div>
      <div><a href="{{APP_URL}}app/new_vacancies" class="mainlink">New Job Vacancies</a></div>
   </div>
   <div class="block">
      <div><img class="arrow" src="{{APP_URL}}global/img/bycount.jpg" /></div>
      <a href="{{APP_URL}}app/vacancies_by_countries" class="mainlink">Job vacancies By Country</a>
   </div>
   <div class="block">
      <div><img class="arrow" src="{{APP_URL}}global/img/community.jpg" /></div>
      <a href="{{APP_URL}}app/vacancies_by_community" class="mainlink">Job Vacancies By Community</a>
   </div>
   <div class="clear">&nbsp;</div>
</div>