<h2>Vacancy : {{vacancy->job_title}}</h2>
<legend>Vacancy Information</legend>
<div class="form-element">
   <span class="bold">Job Description :</span>
   <p>{{vacancy->job_description}}</p>
</div>

{% if vacancy->salary != 0%}
<div class="form-element">
   <span class="bold">Salary :</span>
   <span>{{vacancy->salary}}</span>
</div>
{% endif %}

<div class="form-element">
   <span class="bold">Number Of Employee Required :</span>
   <span>{{vacancy->no_employees_required}}</span>
</div>

<div class="form-element">
   <span class="bold">Type Of Employment :</span>
   <span>{{vacancy->type_employment}}</span>
</div>

<div class="form-element">
   <span class="bold">Employment Of Reason :</span>
   <span>{{vacancy->reason_employment}}</span>
</div>

<div class="form-element">
   <span class="bold">Type of industry :</span>
   <span>{{vacancy->Industry->industry_name}}</span>
</div>

<div class="form-element">
   <span class="bold">Country :</span>
   <span>{{vacancy->Country->country_name}}</span>
</div>

{% if user_group == 'seeker' %}
<div class="form-element">
   {% if applied %}
   <h3>You Are Already Applied To This Job</h3>
   {% else %}
   <a href="{{APP_URL}}app/vacancy_apply/{{vacancy->id}}" class="button">Apply To This Job</a>
   {% endif %}
</div>
{% endif %}