<h1 class="title">Edit Department</h1>
<form action="{{APP_URL}}employer/edit_dept_submit" method="post">
   <div class="form-element">
      <label for="department_name">Department Name</label>
      <input type="text" name="department_name" class="department_name" value="{{department->name}}"/>
   </div>

   <div class="form-element">
      <label for="department_name">Business Partner : {{department->BusinessPartner->name}}</label>
   </div>

   <div class="form-element">
      <label for="department_name">Department Phone Number: {{department->BusinessPartner->phone_number}}</label>
   </div>
   
   <div class="form-element">
      <label for="department_name">Department email: {{department->BusinessPartner->email}}</label>
   </div>
   
   <div class="form-element">
      <input type="hidden" name="department_id" value="{{department->id}}"/>
      <input type="submit" value="Change" class="button"/>
   </div>
</form>