<h2>RRF : {{rrf->job_title}} </h2>

<div class="form-element">
   <span class="bold">Job Description :</span>
   <p>{{rrf->job_description}}</p>
</div>

<div class="form-element">
   <span class="bold">Salary :</span>
   <span>{{rrf->salary}}</span>
</div>

<div class="form-element">
   <span class="bold">Number Of Employee Required :</span>
   <span>{{rrf->no_employees_required}}</span>
</div>

<div class="form-element">
   <span class="bold">Type Of Employment :</span>
   <span>{{rrf->type_employment}}</span>
</div>

<div class="form-element">
   <span class="bold">Reason Of Employment :</span>
   <span>{{rrf->reason_employment}}</span>
</div>

<div class="form-element">
   <span class="bold">Type of industry :</span>
   <span>{{rrf->Industry->industry_name}}</span>
</div>

<div class="form-element">
   <span class="bold">Country :</span>
   <span>{{rrf->Country->country_name}}</span>
</div>

<div class="form-element">
   <span class="bold">Status :</span>
   <span>{{rrf->status}}</span>
</div>

<a href="{{APP_URL}}employer/process_rrf/{{rrf->id}}/a" class="button">Accept this RRF</a> 
<a href="{{APP_URL}}employer/process_rrf/{{rrf->id}}/r" class="button">Reject this RRF</a>
<a href="{{APP_URL}}employer/process_rrf/{{rrf->id}}/d" class="button">Delete this RRF</a>